p{ 
    color: white;
}
.description > ul {
    margin: 10px;
}
.navbar{
    background-color: #333;
    overflow: hidden;
    height: 5%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
:is(h6, h5){
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.navContent{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;   
}

.main-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);       
}
:is(.work ,.body-card){
    width: 85vw;    
    padding: 2%;
    height: 85vh;    
    margin-top: 20px;
    align-self: center;
}
.header-title{
    margin: 10px;
    font-weight: bold;
    background: rgb(89,114,199);
    background: radial-gradient(circle, rgba(89,114,199,1) 0%, rgba(118,106,129,1) 0%, rgba(47,20,55,1) 100%, rgba(229,229,241,1) 100%, rgba(17,15,48,1) 100%, rgba(113,79,144,1) 100%, rgba(91,90,116,1) 100%);
}
.App{
    background-position: center;
    background-size: cover;
    background: rgb(89,114,199);
    background: radial-gradient(circle, rgba(89,114,199,1) 0%, rgba(129,78,173,1) 46%, rgba(113,79,144,1) 100%, rgba(91,90,116,1) 100%, rgba(17,15,48,1) 100%, rgba(229,229,241,1) 100%, rgba(33,119,136,1) 100%);
    height: 100vh;
}
.body-container{
    width: 100%;
    text-align: start;
}
.body-container > div{
    margin: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;    
    padding: 10px;
    justify-content: center;
}
.grid-item{
    text-align: center;
    margin-left:1.5vw;
    margin-right:1.5vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
:is(.grid-item >img, .prjContainer > img ){
    width: 140px;
    height: 140px;
    border-radius: 70px;
    object-fit: contain;
    background-color: white;           
}
.grid-item > img:hover{
    transition: 0.5s ease;
    -webkit-box-shadow: 0px 14px 16px 0px #000000; 
box-shadow: 0px 14px 16px 0px #000000;
}
.prjContainer{
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    background: rgb(73,73,88);
    background: radial-gradient(circle, rgba(73,73,88,1) 50%, rgba(39,39,40,1) 100%, rgba(0,212,255,1) 100%);
    width: 20vw;
    height: 60vh;
    text-align: center;    
}
.prjContainer:hover{
    background: rgb(89,85,92);
    background: radial-gradient(circle, rgba(89,85,92,1) 0%, rgba(72,53,82,1) 100%, rgba(189,179,199,1) 100%, rgba(47,20,55,1) 100%, rgba(229,229,241,1) 100%, rgba(17,15,48,1) 100%, rgba(113,79,144,1) 100%);   
    animation-duration: 0.5s;
    -webkit-box-shadow: 0px 14px 16px 0px #000000; 
    box-shadow: 0px 14px 16px 0px #000000;
}

.prjContainer>img{
    margin-bottom: 10px;
    margin-top: 10px;
}
.workImg{
    width: 140px;
    height: auto;
    margin: 10px;
    height: 140px;
    border-radius: 70px;
    object-fit: contain;
    background-color: white;   
}
#imgTitle{
    color: black;
}
:is(.desContainer){
    display: inline-flex;
    margin: 10px;
    background: rgb(73,73,88);
    background: radial-gradient(circle, rgba(73,73,88,1) 50%, rgba(39,39,40,1) 100%, rgba(0,212,255,1) 100%);
}
.credit-footer{
    margin-bottom:0.5vh ;
    margin-right:0.5vw;
    position: absolute;
    text-align: center;
}
#backBnt{    
    font-size: 20px;
}